html,
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    position: relative;
    font-family: "xingothic-sc", "Microsoft Yahei";
    color: #22ceff;
}

img {
    border: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.top {
    top: 0;
    width: 100%;
}

.button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.text-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.title-wrapper,
.desc-wrapper {
    position: relative;
}

.title-bg,
.desc-bg {
    display: block;
    width: 100%;
}

.title,
.desc {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.title {
    margin-top: 12px;
    font-weight: bolder;
    font-size: 17px;
}

.desc {
    margin-top: 30px;
    font-size: 16px;
}

.swiper-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    position: relative;
    width: 160px;
    height: 160px;
    background-position: center;
    background-size: cover;
    border: 2px solid #00b4ff;
}

.swiper-container-3d {
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination-bullet {
    margin: 0 5px;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #00b4ff;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    width: 7px;
    height: 7px;
    opacity: 1;
    background: cyan;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    bottom: 0;
    width: 27px;
    height: 44px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev {
    left: 10px;
    right: auto;
    background-image: url(../img/gamecentre/left.png);
}

.swiper-button-next {
    right: 10px;
    left: auto;
    background-image: url(../img/gamecentre/right.png);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
}